= image_tag("/assets/thumb.svg", :alt => "Sample App")
p
strong Name:
= product.name
p
strong Amount:
= product.amount
br
= link_to "Купить", new_users_cart_product_path(product_id: product.id)
br
= link_to 'Back', users_products_path
