= image_tag("/assets/thumb.svg", :alt => "Sample App")
p
strong Name:
= product.name
p
strong Description:
= product.description
p
strong Price:
= product.price_in_dollars
p
= product.current_amount
hr
= link_to "Купить", new_users_cart_product_path(product_id: product.id)
br
= link_to 'Back', root_path
