.field {
  margin-bottom: 15px;
}
.title-field{
  margin-top: 20px;
  margin-bottom: 45px;
}
.actions {
  margin-bottom: 10px;
}
.title{
  text-align: center;
}
.card{
  margin: 0 3px 25px 4px;
}
.content_center{
  margin: 0, auto;
}
.alert_button_size{
  width: 250px;
  margin-left: 55px;
  margin-bottom: 15px;
}
.signin_button{
  margin-right: 10px;
  margin-bottom: 5px;
}
.order_button{
  width: 450px;
  margin-left: 55px;
  margin-bottom: 15px;
}
.product_button{
  width: 250px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.image{
  margin: 0 auto;
  height: 200px;
  padding: 5px 5px 0 5px;
}
.large_image{
  margin: 0 auto;
  padding: 5px 5px;
}
.name_of_product{
  text-align: center;
  margin-top: 5px;
}
.description_of_product{
  text-align: center;
  font-size: 17px;
  margin-bottom: 5px;
  color: grey;
  padding: 0 10px;
}
.price{
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  color: Crimson;
}
.stock{
  text-align: center;
  font-size: 17px;
  margin-bottom: 5px;
  color: darkgrey;
}
.status{
  font-size: 20px;
  color: green;
}
