form.form-inline.my-2.my-lg-0
  = form_tag managers_products_path, method: :get do
    = text_field_tag :search, params[:search], placeholder: t('links.search'), class: 'form-control mr-sm-2'
    = submit_tag t('links.search'), name: nil, class: 'btn btn-outline-success my-2 my-sm-0'
